# Logs
logs
*.log
pnpm-debug.log*

# Lock File
package-lock.json

node_modules
dist-ssr
build
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

example/**/lang
example/**/dist
package/**/dist
